<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<div th:if="${param.error}">
    User was not added.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/adminUpdate}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Role: <input type="text" name="role"/> </label></div>


    <div><input type="submit" value="Add"/></div>
    <p th:text="${result}"></p>
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form th:action="@{/admin}" method="get">
    <input type="submit" value="Back"/>
</form>
</body>
</html>